@font-face {
  font-family: 'Young Serif';
  font-style: normal;
  src:
    local("Young Serif"),
    url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  src:
    local("Outfit"),
    url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: var(--font2);
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);


  --font1: "Young Serif";
  --font2: "Outfit";
}

body {
  min-height: 100dvh;
  max-width: 375px;
  margin: 0 auto;
}

main {
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 375px;
}

img {
  width: 100%;
  object-fit: contain;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header h1 {
  font-family: var(--font1);
  font-weight: 400;
  text-align: start;
  line-height: 32px;
  color: var(--Dark-Charcoal);
}

header p {
  text-align: start;
  color: var(--Wenge-Brown)
}

article {
  background-color: var(--Rose-White);
  padding: 18px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

article h1 {
  color: var(--Dark-Raspberry);
  font-size: 20px;
}

article ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding-right: 40px;
  padding-inline-start: 24px;
}

article ul li span {
  font-weight: 700;
}

article ul li {
  color: var(--Wenge-Brown)
}

article ul li::marker {
  color: var(--Dark-Raspberry);
}

section h1 {
  color: var(--Nutmeg);
  font-family: var(--font1);
  font-weight: 400;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section ul,
section ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section li {
  color: var(--Wenge-Brown);
  font-weight: 400;
}

section li span {
  font-weight: 700;
}

section li::marker {
  color: var(--Nutmeg);
  font-weight: 700;
}

section p {
  color: var(--Wenge-Brown)
}

table th {
  color: var(--Wenge-Brown);
  font-weight: 400;
}

table td {
  color: var(--Nutmeg);
  font-weight: 600;
}

hr {
  border-color: var(--Light-Grey);
}

th,
td {
  border-bottom: 2px solid var(--Light-Grey);
  padding: 6px;
}

table {
  border-collapse: collapse;
}


@media (min-width: 1440px) {

  body {
    max-width: 100dvw;
    background-color: var(--Eggshell);
    padding: 40px;
  }

  main {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--White);
    border-radius: 12px;
  }

  img {
    border-radius: 12px;
  }
}